%h1 Listing users

%table
  %tr
    %th Uid
    %th Access token
    %th Expire
    %th Q1
    %th Q2
    %th Q3
    %th Masters
    %th Email
    %th Age
    %th Birth date
    %th Optin
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.uid
      %td= user.access_token
      %td= user.expire
      %td= user.q1
      %td= user.q2
      %td= user.q3
      %td= user.masters
      %td= user.email
      %td= user.age
      %td= user.birth_date
      %td= user.optin
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
